<?xml version="1.0" encoding="utf-8"?>
<nlog autoReload="true" internalLogLevel="Warn" internalLogFile="log/nlog.log">
  <targets>
    <target name="all" 
						type="File" 
						encoding="utf-8"
						lineEnding="CRLF"
						archiveAboveSize="5242880"
						archiveFileName="log/${shortdate}/all.${date:format=HH}-00.{###}.log"
						archiveNumbering="Sequence"
						fileName="log/${shortdate}/all.${date:format=HH}-00.z.log" 
						layout="${longdate} ${level:uppercase=true:padding=5} [${threadid:padding=5}] ${logger} - ${message}${onexception:${newline}${newline}${exception:format=ToString,Data}}" 
		/>
  </targets>
  <rules>
		<logger name="*" minlevel="Trace" writeTo="all" final="true" />
	</rules>
</nlog>